.background{
background-color: #fff;
border: none;
}
.container{
    
    margin-top: 25px;
}
.carousel-item{
    padding: 10px 30px;

}
.buy-now-button{

    background-image: linear-gradient(to bottom, black 0%, black 100% );
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.card{
    border-radius: 3em;
}

.smartphone img{
    height: 45%;
    width: 65%;
}
.see-all{
    color:#F47C00;
}
.categories{
    margin-top: 100px;
    border-bottom:6px solid #F47C00;
    margin-bottom: 100px;
    padding-bottom: 8px;
    border-radius: 5px;

}
.image {
    border-radius: 10px;
    
    width: 150px;
    padding: 10px;
}
footer{
    color: gray;
    text-align: center;
}
.hover:hover{
    background-image: linear-gradient(to bottom, #FF589B  0%, #FF136F 100% );
    font-size: 25px;
}